# oceans777 agent standards project config
require_agents_md=1
require_claude_md={{REQUIRE_CLAUDE_MD}}
commit_message=conventional
baseline_branch={{BASE_BRANCH}}
dev_branch={{DEV_BRANCH}}
task_prefix={{TASK_PREFIX}}
worktree_dir={{WORKTREE_DIR}}
